.wcont{
    width: 60%;
    max-width: 600px;
    position: relative;
    top: 10%;
    left: 25%;
}
.btn{
    border-radius: 25px;
}
.schedule{
    background-color:#38ab83;
    width: 60%;
    max-width: 600px;
    position:  relative;
    left: 25%;
}

.select-form {
    width: 40%;
    max-width: 600px;
    position: relative;
    left: 2%;
}

.sl-btn{
    width:60%;
    max-width:600px;
    position: relative;
    left: 25%;
}

.row.header {
    font-weight: 900;
    color: #ffffff;
    background: #1cd095;
}

.table-title {
    background-color: lightsteelblue;
    height: 60%;
    width: 60%;
    max-width: 600px;
    position: relative;
    left: 25%;
    font-weight: bold;
}

.hrow{
    background-color: #C0D0E5;
    font-weight: bolder;
    font-size: large;
}


td.crow{
    background-color: #40d4ab;
    font-weight: 600;
    font-size: 16px;
}

.tbrow{
    background-color: #b9dbff;
    font-weight: 500;
    font-size: 14px;
}