<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DSP - Homework</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <th:block th:fragment="links" >
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" th:href="@{/static/css/getEvents.css}"/>
    </th:block>
</head>
<body>
<th:block th:insert="fragments/navbarTeacher.html :: navbar" />


<br>
<div class="col-md-3 text-center">
    <a class="btn btn-outline-secondary" href="/teacherHomework">Back</a>
</div>

<form  align="center" th:action="'/teacherHomework/getEvents/'"  method='GET'>
    <table align= "center" class="table">
        <tr>
            <td width="35%">Sort</td>
            <td width="65%"><select name="sortingType" class="form-control">
                <option th:value="'addSort'">by adding date</option>
                <option th:value="'deadlineSort'" th:selected="${sortingType}=='deadlineSort'">by deadline date</option>
            </select></td>
        </tr>
        <tr>
            <td width="35%">Subject</td>
            <td width="65%"><select name="subjectName" class="form-control">
                <option th:value="'all'">All</option>
                <option  th:each="el: ${subjects}" th:value="${el.getName()}" th:text="${el.getName()}" th:selected="${subjectName}==${el.getName()}"></option>
            </select></td>
        </tr>
        <tr>
            <td colspan="2">
                <button class="btn" type="submit">Show</button></td>
        </tr>
    </table>
</form>


<div class="container">
    <div class="row p-2">
        <div class="col-md-4 p-2" th:each="event: ${eventsPage}">
            <div th:class=" ${event.getStatus()} ? 'card bg-c-blue order-card': 'card bg-c-pink order-card'">
                <div class="card-block">

                    <a class="h3 m-b-10" th:text="${event.getSubject().getName()}" data-toggle="collapse" data-target="#collapse-"  th:attrappend="data-target=${event.getId()}"></a>
                    <br><br>
                    <h6 th:if="${event.getStartDate().format(dateTimeFormatterYear) == event.getEndDate().format(dateTimeFormatterYear)}" class="m-b-0">Date<span class="f-right"
                        th:text="${event.getStartDate().format(dateTimeFormatter1)} +' - '+ ${event.getEndDate().format(dateTimeFormatter1)}"></span></h6>

                    <h6 th:if="${event.getStartDate().format(dateTimeFormatterYear) != event.getEndDate().format(dateTimeFormatterYear)}" class="m-b-0">Date<span class="f-right"
                        th:text="${event.getStartDate().format(dateTimeFormatter2)} +' - '+ ${event.getEndDate().format(dateTimeFormatter2)}"></span></h6>
                    <h6 class="m-b-0">Group<span class="f-right" th:text="${event.getGroup().getGroupName()}"></span></h6>


                    <div class="collapse" th:id="|collapse-${event.getId()}|" style="margin-left: -15px">

                            <button th:class="${event.getStatus()} ? 'btn btn-sm':'btn btn-sm lcoral'"style="width: 46%" data-toggle="modal" data-target="#modalGetDescription"
                            th:attrappend="data-target=${event.getId()}">
                                Description
                            </button>

                            <div th:unless="${event.getDatabaseFileDto() == null}">
                                <a th:href="'/teacherHomework/downloadFile/' + ${event.getDatabaseFileDto().getId()}" th:class="${event.getStatus()} ? 'btn btn-sm':'btn btn-sm lcoral'" download style="width: 46%">Download file</a>
                            </div>

                            <form th:action="'/teacherHomework/getAssignments/' + ${event.getId()}" th:method="GET">
                                <input type="hidden" name="groupId" th:value="${event.getGroup().getId()}">
                                <input type="hidden" name="startDate"  th:value="${event.getStartDate().format(dateTimeFormatter2)}">
                                <input type="hidden" name="endDate"  th:value="${event.getEndDate().format(dateTimeFormatter2)}">
                                <input type="hidden" name="subjectName" th:value="${event.getSubject().getName()}">

                                <input type="hidden" name="subjectNameSort" th:value="${subjectName}">
                                <input type="hidden" name="sortingType" th:value="${sortingType}">
                                <input type="hidden" name="pageNumber" th:value="${pageNumber}">

                                <button th:class="${event.getStatus()} ? 'btn btn-sm':'btn btn-sm lcoral'" type="submit" style="width: 46%">Attachments</button>
                            </form>


                            <div class="row">

                                <form class="col-lg-8" th:action="'/teacherHomework/editEvent/' + ${event.getId()}" th:method="GET">
                                    <input type="hidden" name="sortingType" th:value="${sortingType}">
                                    <input type="hidden" name="subjectName" th:value="${subjectName}">
                                    <input type="hidden" name="pageNumber" th:value="${pageNumber}">
                                    <button th:class="${event.getStatus()} ? 'btn btn-sm':'btn btn-sm lcoral'" type="submit" style="width: 73%">Edit</button>
                                </form>


                                <div th:if="${event.getCanDeleteEvent() == true}">
                                    <form th:action="'/teacherHomework/deleteEvent/' + ${event.getId()}" th:method="POST">
                                        <input type="hidden" name="sortingType" th:value="${sortingType}">
                                        <input type="hidden" name="subjectName" th:value="${subjectName}">
                                        <input type="hidden" name="pageNumber" th:value="${pageNumber}">
                                        <button class="btn btn-sm" type="submit" style="background-color: red; border-radius: 16px; margin-left: -1px">Delete</button>
                                        </button>
                                    </form>
                                </div>
                            </div>
                    </div>
                </div>
        </div>

            <div class="modal fade" th:id="|modalGetDescription${event.getId()}|" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Description</h5>
                        </div>
                        <div class="modal-body">
                            <div class="col" style="word-wrap: break-word" th:text="${event.getDescription()}"></div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>

<br><br><br><br><br>


<div class="row justify-content-md-center">
    <ul class="pagination">

        <li th:if="${pageNumber > 0}" class="page-item">
            <a class="page-link" th:href="'/teacherHomework/getEvents?sortingType='+${sortingType}+
                                          '&subjectName='+${subjectName}+'&pageNumber='+${pageNumber - 1}" >Previous</a>
        </li>

        <li th:unless="${pageNumber > 0}" class="page-item disabled">
            <a class="page-link" href="#" >Previous</a>
        </li>


        <div  th:each="i : ${#numbers.sequence(0, totalPages - 1, 1)}">
            <li th:if="${pageNumber != i}" class="page-item"><a class="page-link" th:href="'/teacherHomework/getEvents?sortingType='+${sortingType}+
                                                                                           '&subjectName='+${subjectName}+'&pageNumber='+${i}" th:text="${i + 1}"></a></li>
            <li th:if="${pageNumber == i}" class="page-item active">
                <a class="page-link" href="#" th:text="${i + 1}"><span class="sr-only">(current)</span></a>
            </li>
        </div>


        <li th:if="${pageNumber < totalPages - 1}" class="page-item">
            <a class="page-link" th:href="'/teacherHomework/getEvents?sortingType='+${sortingType}+
                                          '&subjectName='+${subjectName}+'&pageNumber='+${pageNumber + 1}">Next</a>
        </li>
        <li th:unless="${pageNumber < totalPages - 1}" class="page-item disabled">
            <a class="page-link" href="#">Next</a>
        </li>

    </ul>
</div>



<th:block th:insert="fragments/commoneJsFiles.html :: jsFiles"/>

</body>
</html>