<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DSP - Homework</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <th:block th:fragment="links" >
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
    </th:block>

    <style>
        .btn{
            border-radius: 25px;
        }
    </style>

</head>
<body>
<th:block th:insert="fragments/navbarTeacher.html :: navbar" />


<br>
<div class="col-md-3 text-center">
    <a class="btn btn-outline-secondary" href="/home">Back</a>
</div>


    <div align="center">
        <br></br>
        <a th:href="'/teacherHomework/showSubjects'" class="btn btn-outline-info" style="width: 20%">Add homework event</a>
        <br></br>
        <a th:href="'/teacherHomework/getEvents'" class="btn btn-outline-info" style="width: 20%;">Show added events</a>
    </div>

</body>
</html>